/* app css stylesheet */

#footer {
  float: left;
}

#grid-container {
  float: left;
  clear: both;
  width: 100%;
}

.play-target-button {
  width: 100%;
  font-size: 32px;
  float: left;
}

.button-container {
  display: inline-block;
  position: relative;
  width: 50%;
}

.button-container:after {
  content: '';
  display: block;
  margin-top: 75%;
}

.button-container > BUTTON {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: silver;
  width: 100%;
  background-color: #aaf;
  font-size: 64px;
}
